<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <form name="login" method="POST" action="/login">
                <ul class="flex-outer">
                  <h1>Login</h1>
                  <li>
                  <label for="email">Email</label>
                  <input type="email" name="email" required>
                    </li>
                    <li>
                  <label for="password">Password</label>
                    <input type="password" name="password" minlength="6" required>
                </li>
                
                  <button type="submit"> Login</button>
                </ul>
                </form>
            </div>
    </body>
</html>