<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
  <div class="container">
        <table>
                <% for(var i=0; i < data.length; i++) { %>
                   <tr>
                     <td>Author: <%= data[i].email %></td>
                     <td>Message: <%= data[i].message %></td>
                     <td>Leave comment <a href="/comment/<%= data[i].id %>"</td>
                   </tr>
                <% } %>
                </table>
                
              </div>
              <div class="center">
              <a href="/"> Back</a>
            </div>
</body>
</html>