<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <form name="register" method="POST" action="/register">
                <ul class="flex-outer">
                  <h1>Register</h1>
                    <li>
                  <label for ="name">Name:</label>
                  <input type="text" name="username"  placeholder ="Enter name here"required>
                    </li>

                    <li>
                  <label for="email" placeholder ="Enter email here">Email:</label>
                  <input type="email" name="email" required>
                  </li>

                  <li>
                  <label for ="password">Password:</label>
                  <input type="password" name="password" minlength="6" required>
                  </li>
                 
                  <button type="submit"> Register </button>
                </ul>
                </form>

        </div>
    </body>
</html>