html,body{
    margin:0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
    background: #2E3740;
    color: #435160;
}

.container{
display:flex;
justify-content: center;
align-items:center;
}

input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
    color: #435160;
    width: 350px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
}

textarea{
    margin-top: 20px;
    width: 350px;
    height:100px;
}

table{
    margin-top:150px;
    
}
td{
    background-color: beige;
}
.center{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    }
a{
    padding:10px;
    color: whitesmoke;
}